<div id="content" class="span10">
  <div class="row-fluid sortable ui-sortable">
    <div class="box span12" style="">
      <div class="box-header well" data-original-title="">
        <h2 style="margin-left: 100px;"><a href="<%= new_admin_news_path %>"><i class="icon-edit"></i>创建新的新闻</a></h2>
        <div class="box-icon">
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
          <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 45px;">ID</th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 162px;">新闻标题</th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 162px;">新闻时间</th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 87px;">是否公开</th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 160px;">操作</th>
            </tr>
            </thead>

            <tbody>
            <% @news.each do |news| %>
                <tr class="<%= cycle('odd', 'even') %>" id="news_<%= news.id %>">
                  <td class="center"><span class="badge badge-info"><%= news.id %></span></td>
                  <td class="center"><%= news.name %></td>
                  <td class="center"><%= news.public_time %></td>
                  <td class="center"><%= news.is_public ? "是" : "否" %></td>
                  <td class="center">
                    <a class="btn btn-info" href="<%= edit_admin_news_path(news.id) %>"><i class="icon-edit icon-white"></i>编辑</a>
                    <a class="btn btn-danger" href="javascript: delete_resource('newsx', <%= news.id %>)"><i class="icon-trash icon-white"></i>删除</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/span-->

  </div>
</div>
