# coding: utf-8
<%= content_for :head do %>
<%= stylesheet_link_tag    'reset', 'base', 'global', 'list', 'skin', media: 'all',
     'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.jcarousel.min', 'main', 'data-turbolinks-track' => true %>
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li class="no1"><a href="/projects">全部案例</a></li>
				<% ProjectCategory.all.each do |pc| %>
   	 		<li><%= link_to pc.name, project_category_path(pc) %></li>
				<% end %>
   	 	</ul>
   	 	<span class="fk fr"></span>
   	</div>
   	<div class="left fl">
			<%= render :partial => "list" %>
   	 	<div class="left_inner">
   	 		<h3>BRAND INTRODUCTION 品牌介绍</h3>
   	 		<p><%= @project.desc %></p>
   	 	</div>
   	</div>
   	<div class="right fl">
   	  <h3>客户品牌名称</h3>
   	  <span><%= @project.brand_name %></span>
   	  <h3>客户公司名称</h3>
   	  <span><%= @project.company_name %></span>
   	  <h3>服务内容</h3>
   	  <span><%= @project.service_content %></span>
   	  <p class="dfk"></p>
   	</div>
  </div>
</div>
