<!DOCTYPE html>
<html>
	<head>
		<meta name="keywords" content="上海出未创意设计,品牌策划设计，包装设计，网站设计，店面设计，房地产营销，出未创意设计">
		<meta name="description" content="上海出未创意设计事务所是以创意为主导的策略型品牌商业设计机构。主要专长于品牌设计、品牌策划、包装设计、产品外观设计、商业空间设计、网站开发设计、房地产整合营销、公关活动，产品招商等相关服务。我们坚持为成长中的优秀企业创造具有特属差异化的品牌设计。">
		<% if @title.present? %>
		<title><%= @title %>  上海出未创意设计机构</title>
		<% else %>
		<title>上海出未创意设计机构</title>
		<% end %>
		<%= csrf_meta_tags %>
		<%= yield :head %>
	</head>
	<body>
		<%= render :partial => "/shared/header" %>
		<%= yield %>
		<%= render :partial => "/shared/footer" %>
	</body>
</html>
