<!DOCTYPE html>
<html>
<head>
  <title>上海天地人品牌设计机构</title>
  <%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
<%= render :partial => "/shared/header" %>
<%= yield %>
<%= render :partial => "/shared/footer" %>
</body>
</html>
